#main-slider-container {
  width: 100%;
  height: 360px;
}
#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
#main-slider-container {
  position: relative;
  display: flex;
  align-items: center;
}
.slider-icon.left,
.slider-icon.right {
  background: rgb(255, 255, 255);
  border-radius: 100%;
  position: absolute;
  opacity: 0.6;
  box-shadow: 5px 5px 5px 5px  rgb(0 0 0 / 12%);
  cursor: pointer;
}
.slider-card-title,
.slider-card-description {
  margin: 10px 0px 5px 10px;
}
.slider-card-title {
  font-weight: 500;
  margin-top: 10px;
  font-size: 16px;
}
.slider-card-description {
  opacity: 0.5;
  font-size: 13px;
}
.slider-icon.left {
  left: 0;
}
.slider-icon.right {
  right: 0;
}

.slider-icon.left:hover,
.slider-icon.right:hover {
  opacity: 1;
}
.slider-card {
  width: 240px;
  height: 320px;
  background: white;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.slider-card-image {
  width: 100%;
  height: 220px;
  background: rgb(240, 240, 240);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.link-list-doctor {
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}
.title-name-doctor {
  opacity: 0.5;
  font-size: 13px;
  margin-right: 0;
  margin-left: 10px;
}
.title-name-doctor a {
  margin-left: auto;
}
