/* สีสำหรับสถานะ 'confirmed' */
.status-4 {
    color: white;
    background: linear-gradient(135deg, green, darkgreen);
    border-radius: 5px;
    background-size: 100% 100%;
  }
  
  /* สีสำหรับสถานะ 'pending' */
  .status-3 {
    color: white;
    background: linear-gradient(135deg, orange, darkorange);
    border-radius: 5px;
    background-size: 100% 100%;
  }
  
  /* สีสำหรับสถานะ 'cancelled' */
  .status-5 {
    color: white;
    background: linear-gradient(135deg, red, darkred);
    border-radius: 5px;
    background-size: 100% 100%;
  }
  /* สีสำหรับสถานะ 'Complete' */
  .status-6 {
    color: white;
    background: linear-gradient(135deg, rgb(67, 110, 249), rgb(17, 38, 231));
    border-radius: 5px;
    background-size: 100% 100%;
  }
